<!DOCTYPE html>
<html>
<head>
<title>Analyse the Data</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">

<style>
body,h1,h2,h3,h4,h5,h6 {
  font-family: "Karma", sans-serif;
}

.w3-bar-block .w3-bar-item {
  padding: 20px;
}

body {
  background-image: url("{{ url_for('static', filename='screenshot.jpg') }}");
  background-repeat: no-repeat;
  background-size: 100% 150%;
}

.text-yellow {
  color: rgb(249, 253, 5);
}
</style>
</head>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1600px;margin-top:100px">

  <!-- First Photo Grid -->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="{{ url_for('static', filename='images/accuracies/DTT.png') }}" alt="Decision Tree" style="width:100%">
      <h3 class="text-yellow">Decision Tree</h3>
    </div>
    <div class="w3-quarter">
      <img src="{{ url_for('static', filename='images/accuracies/RF.png') }}" alt="Random Forest" style="width:100%">
      <h3 class="text-yellow">Random Forest</h3>
    </div>
    <div class="w3-quarter">
      <img src="{{ url_for('static', filename='images/accuracies/XGB.png') }}" alt="XGBoost" style="width:100%">
      <h3 class="text-yellow">XGBoost</h3>
    </div>
    <div class="w3-quarter">
      <img src="{{ url_for('static', filename='images/accuracies/SVM.png') }}" alt="SVM" style="width:100%">
      <h3 class="text-yellow">SVM</h3>
    </div>
  </div>

  <!-- Accuracy Graph -->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter" style="width:100%">
      <img src="{{ url_for('static', filename='images/accuracies/GRAPH.png') }}" alt="Accuracy Comparison" style="width:100%; max-width:800px;">
      <h3 class="text-yellow" style="font-size: 2rem;">Accuracy comparison of all the classifiers</h3>
    </div>
  </div>
</div>
<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
</body>
</html>
