<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">

</head>


 <div class="container">
   <div class="screen">
     <div class="screen__content">
       <form class="login">
         <button class="button login__submit">
          <span class="button__text"><a href="/crop">Model Testing</a></span>
           <i class="button__icon fas fa-chevron-right"></i>
         </button>    
         <button class="button login__submit">
           <span class="button__text"><a href="/crop2">Model Building</a></span>
           <i class="button__icon fas fa-chevron-right"></i>
         </button>   
         <button class="button login__submit">
          <span class="button__text"><a href="/crop1">Analysis</a></span>
            <i class="button__icon fas fa-chevron-right"></i>
         </button>      
       </form>
       <div class="social-login">
         <h3></h3>
         <div class="social-icons">
           <a href="#" class="social-login__icon fab fa-instagram"></a>
           <a href="#" class="social-login__icon fab fa-facebook"></a>
           <a href="#" class="social-login__icon fab fa-twitter"></a>
         </div>
       </div>
     </div>
     <div class="screen__background">
       <span class="screen__background__shape screen__background__shape4"></span>
       <span class="screen__background__shape screen__background__shape3"></span>    
       <span class="screen__background__shape screen__background__shape2"></span>
       <span class="screen__background__shape screen__background__shape1"></span>
     </div>    
   </div>
 </div>
